Source: rubinius
Section: ruby
Priority: optional
Maintainer: Antonio Terceiro <terceiro@debian.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), ruby1.8, rake, ruby1.8-dev, llvm-2.8-dev
Standards-Version: 3.9.2
Vcs-Git: git://git.debian.org/collab-maint/rubinius.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/rubinius.git;a=summary
Homepage: http://rubini.us/

Package: rubinius
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby-common
Provides: ruby-interpreter
Description: implementation of the Ruby programming language
 Rubinius includes a bytecode virtual machine, parser, bytecode compiler,
 garbage collector, JIT native machine code compiler, and Ruby core and
 standard libraries.
