#!/usr/bin/make -f

DESTDIR		= $(CURDIR)/debian/rubinius
BIN_DIR		= /usr/bin
MAN_DIR		= /usr/share/man/man1
INC_DIR		= /usr/include/rubinius
LIB_DIR		= /usr/lib
GEM_DIR		= /var/lib/gems
SYSTEM_NAME	= $(shell dpkg-vendor --query Vendor)
LLVM_CONFIG	= /usr/bin/llvm-config-2.8

%:
	dh $@

override_dh_auto_configure:
	./configure \
		--system-name=$(SYSTEM_NAME) \
		--bindir=$(BIN_DIR) \
		--includedir=$(INC_DIR) \
		--libdir=$(LIB_DIR) \
		--mandir=$(MAN_DIR) \
		--gemsdir=$(GEM_DIR) \
		--llvm-config=$(LLVM_CONFIG)

override_dh_auto_build:
	rake build

override_dh_auto_install:
	FAKEROOT=$(DESTDIR) rake install
	for program in $$(find debian/rubinius/usr/bin -not -type d -and -not -name rbx); do \
		mv $$program $$program-rbx; \
	done
	mkdir -p $(DESTDIR)/usr/share/man/man1
	pod2man --center "" --release "" --name Rubinius --utf8 debian/rubinius.1.pod $(DESTDIR)/usr/share/man/man1/rbx.1
	mkdir -p $(DESTDIR)/etc/bash_completion.d
	sed -e 's/@@VERSION@@/-rbx/g; s/@@DOTLESS_VERSION@@/rbx/g' debian/etc/bash_completion.d/gem.in > $(DESTDIR)/etc/bash_completion.d/gem-rbx


override_dh_auto_clean: override_dh_auto_configure
	dh_auto_clean
	cp web/_includes/instructions.markdown /tmp/instructions.markdown
	rake distclean
	cp /tmp/instructions.markdown web/_includes/instructions.markdown
	$(RM) vm/external_libs/*.data
	for dir in vm/external_libs/* lib/tooling/profiler; do (cd $$dir ; make clean || true; make distclean || true); done

override_dh_clean:
	dh_clean --exclude=vm/external_libs/libgdtoa/makefile.orig

# vim: ts=8 sw=8 noexpandtab
