#!/usr/bin/make -f

DESTDIR		= $(CURDIR)/debian/rubinius
BIN_DIR		= /usr/bin
MAN_DIR		= /usr/share/man/man1
INC_DIR		= /usr/include/rubinius
LIB_DIR		= /usr/lib
GEM_DIR		= /var/lib/gems
LLVM_CONFIG	= /usr/bin/llvm-config-3.0

CONFIGURE       = \
  ./configure \
    --llvm-config=/usr/bin/llvm-config-3.0 \
    --libdir=/usr/lib \
    --bindir=/usr/bin \
    --mandir=/usr/share/man/man1 \
    --includedir=/usr/include/rubinius \
    --vendordir=/usr/lib/ruby/vendor_ruby \
    --sitedir=/usr/local/lib/site_ruby \
    --gemsdir=/usr/local/lib/rubinius/gems

%:
	dh --with quilt $@

override_dh_auto_configure:
	$(CONFIGURE)

override_dh_auto_build:
	rake build

override_dh_auto_install:
	FAKEROOT=$(DESTDIR) rake install
	mkdir -p debian/rubinius-doc/usr/share/doc/rubinius
	mv debian/rubinius/usr/lib/rubinius/2.0/lib/rubinius/documentation debian/rubinius-doc/usr/share/doc/rubinius/html
	dh_link -p rubinius-doc usr/share/doc/rubinius/html usr/lib/rubinius/2.0/lib/rubinius/documentation
	mkdir -p $(DESTDIR)/usr/share/man/man1
	pod2man --center "" --release "" --name Rubinius --utf8 debian/rubinius.1.pod $(DESTDIR)/usr/share/man/man1/rbx.1

override_dh_auto_clean: override_dh_auto_configure
	dh_auto_clean
	rake distclean
	$(RM) vendor/*.data
	for dir in vendor/* lib/tooling/profiler; do (cd $$dir ; make clean || true; make distclean || true); done
	$(RM) configure.log
	$(RM) lib/ext/melbourne/.build_ruby
	$(RM) lib/readline.rb
	$(RM) lib/rubinius/build_config.rb
	$(RM) vendor/oniguruma/config.h
	$(RM) vm/capi/18/include/config.h
	$(RM) vm/capi/18/include/mri_oop.h
	$(RM) vm/capi/18/include/rbx_config.h
	$(RM) vm/capi/19/include/rbx_config.h
	$(RM) vm/capi/19/include/ruby/config.h
	$(RM) vm/capi/19/include/ruby/mri_oop.h
	$(RM) vm/gen/config.h

override_dh_clean:
	dh_clean --exclude=vendor/libgdtoa/makefile.orig
	$(RM) config.rb

# vim: ts=8 sw=8 noexpandtab
